[user]
        name = Jack Sullivan
        email = jack@divergent.codes
[url "https://"]
	insteadOf = git://
[alias]
	prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d
